{% extends 'base.html' %}

{% block title %}Откройте для себя мир приключений с Travello{% endblock %}

{% block content %}
    <div class="home_title mb-4">
        <div class="home_text text-center">
            <h2>Откройте для себя мир приключений с Travello</h2>
        </div>
        <div class="all_tours_text text-center">
            <h3>Все наши туры</h3>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-12 col-md-4 col-lg-3 mb-4">
            <div class="card h-100" style="height: 1040px">
                <div class="card-body">
                    <h3 class="card-title">Фильтр</h3>
                    {% include 'components/tour_filter.html' %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                {% for item in page_obj %}
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="card h-100">
                            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-price">Цена: {{ item.price }}</p>
                                <p class="card-category">Категория: {{ item.category }}</p>
                                <p class="card-location">Местоположение: {{ item.location }}</p>
                                <p class="card-text">
                                    Теги:
                                    {% for tag in item.tags.all %}
                                        <a href="#" class="badge bg-secondary">{{ tag.name }}</a>{% if not forloop.last %} / {% endif %}
                                    {% endfor %}
                                </p>
                                <a href="{% url 'detail_tour' item.id %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'pagination.html' %}
{% endblock %}
