{% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}
                {% endif %}{% if request.GET.category %}&category={{ request.GET.category }}
                {% endif %}"><i class="fa-solid fa-arrow-left"></i></a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}
                    {% endif %}{% if request.GET.category %}&category={{ request.GET.category }}
                    {% endif %}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}
                {% if request.GET.search %}&search={{ request.GET.search }}
                {% endif %}
                {% if request.GET.category %}&category={{ request.GET.category }}
                {% endif %}"><i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
{% endif %}
