{% extends 'base.html' %}
{% load static %}

{% block title %}| Create Tour{% endblock title %}

{% block content %}

<div class="form-container">
    <h3 class="mb-4">Create Tour</h3>

    <form action="{% url 'create_tour' %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

            {% for input in form %}

        <div class="mb-4">
            <label for="tour_name">{{ input.label }}</label>
            {{ input }}
            {% for error in input.errors %}
                <div class="text-danger mb-3">{{ error }}</div>
            {% endfor %}
        </div>

        {% endfor %} 
        
        <div>
            <button type="submit" class="btn btn-success w-100">Create</button>
        </div>
    </form>
</div>

{% endblock content %}
