{% load static %}

<nav class="navbar">
    <div class="logo">
        <img src="{% static 'img/Group 590 (1).png' %}" alt="Logo">
    </div>
    <div class="burger-menu" id="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="burger-menu"><i class="fas fa-bars"></i></label>
    <ul class="nav-links">
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">
                    {{ request.user.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'workspace' %}">Workspace</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
        {% include 'components/nav_categories.html' %}
    </ul>
    <form action="{% url 'index' %}" method="get" class="search-form" role="search">
        <i id="lupa" class="fa-solid fa-magnifying-glass search-icon"></i>
        <input class="form-control" value="{{ request.GET.search }}" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
